/* Estilos básicos para las cartas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
  animation: fadeIn 1s ease;
}

.card img {
  width: 100%;
  border-bottom: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.card-body {
  padding: 15px;
  background-color: #f8f9fa;
}

/* Transiciones para efectos hover */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img:hover {
  transform: scale(1.05);
}

.btn-primary {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Animación de fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries para responsive */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .card img {
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  .intro-text {
    font-size: 0.9rem;
  }

  .card-body {
    padding: 10px;
  }
}
